<div class="container custom-bg-remindme-login">
    <p-toast></p-toast>
    <div class="flex flex-wrap justify-content-evenly align-content-center login-form">
        <div class="text-center pt-4 mb-3">
            <a routerLink="/">
                <img src="../../assets/remindme_log.png" alt="Image" height="50" class="mb-3">
            </a>
            <div class="text-600 font-medium fo line-height-3 mb-4 text-orange-500">Don't have an account?</div>
            <button 
                pButton pRipple 
                label="Create for free!" 
                icon="pi pi-thumbs-up" 
                class="p-button-rounded btn-remindme-bg shadow-2 font-bold"
                (click)="onSignUp()"
            ></button>
        </div>
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">

            <div>
                <div class="field">
                    <span class="p-float-label">
                        <input type="text" id="email" pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"> 
                        <label for="email" class="text-orange-300">Email *</label>
                    </span>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input type="text" id="password" pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"> 
                        <label for="password" class="text-orange-300">Password *</label>
                    </span>
                </div>

                <button pButton pRipple label="Sign In" icon="pi pi-sign-in" iconPos="left" class="w-full btn-remindme-bg shadow-2 font-bold"></button>
            </div>
        </div>
    </div>
</div>