<p-dialog
    header="Create Your Reminder schedule!"
    [(visible)]="display"
    [style]="{width: '300px'}">
        <div class="mt-2">
            <div class="field">
                <span class="p-float-label">
                    <input 
                        type="text"
                        id="time"
                        [(ngModel)]="schedule.reminder_date_time"
                        [ngClass]="{'p-filled': ( schedule.reminder_date_time !== '')}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"> 
                    <label for="time" class="text-orange-300">Time* (yyyy-mm-dd hh:mm:ss)</label>
                </span>
            </div>

            <button 
                pButton
                pRipple 
                label="Save" 
                icon="pi pi-plus-circle" 
                iconPos="left" 
                class="w-full btn-remindme-bg shadow-2 font-bold"
                (click)="onCreateNewReminderSchedule()">
            </button>
        </div>
</p-dialog>

<button 
    pButton
    pRipple
    icon="pi pi-plus-circle"
    class="btn-remindme-bg shadow-2 font-bold mt-2"
    [style]="{width: '20%', height: '20%'}"
    (click)="showCreateNewScheduleForm()">
</button>