    <div class="content-section pt-8">
        <div class="flex mb-6">
            <button 
                pButton 
                class="p-button bg-purple-400 shadow-2 font-bold"
                icon="pi pi-calendar-plus"
                label="Create New Reminder">
            </button>
        </div>

        <div class="grid">
            <div class="md:col-4 mb-2" *ngFor="let reminder of reminders.data">
                <p-fieldset legend="{{reminder.title.toUpperCase()}}" [styleClass]="'header-fieldset-custom border-0 text-800 line-height-2'">
                    <div class="flex mb-2">
                        <span class="pi pi-book mr-2"></span>
                        <span class="capitalize-first-letter">{{reminder.description}}</span>
                    </div>
                    <div class="flex">
                        <span class="pi pi-calendar mr-2"></span>
                        <span>Schedules</span>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>