<div class="navbar pt-4 pb-4">
    <div class="flex flex-row justify-content-around align-items-center vertical-align-middle">
        <div class="flex">
            <a routerLink="/">
                <img 
                    *ngIf="!isSignedIn" 
                    src="../../assets/remindme_log.png" 
                    class="w-4">
            </a>
        </div>
        <div class="flex align-items-center gap-4">
            <button 
                *ngIf="isSignedIn"
                pButton 
                pRipple 
                type="button" 
                icon="pi pi-user" 
                label="Sign In" 
                class="p-button-rounded bg-purple-400 hover:bg-purple-600 shadow-2 font-bold"
                (click)="onSignIn()"
            ></button>
            <button 
                routerLink="/dashboard"
                pButton 
                pRipple type="button" 
                icon="pi pi-bell" 
                label="My Reminders"
                class="p-button-rounded bg-orange-600 font-bold shadow-2 font-bold"></button>
            <button 
                pButton 
                pRipple type="button" 
                icon="pi pi-user" 
                class="p-button-rounded bg-purple-400 hover:bg-purple-600 shadow-2 font-bold"></button>
        </div>

    </div>

</div>