/* You can add global styles to this file, and also import other style files */
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Arimo', sans-serif;
}

/**
html,
body {
    background-color: rgba(255, 220, 186, 0.4);
    margin: 0;
}
*/

.btn-remindme-bg:focus,
.p-button:enabled:focus,
.btn-remindme-bg:active,
.p-button:enabled:active,
.p-button:enabled:hover
{
    background-color: #EF5306 !important;
    cursor: pointer;
}

.custom-bg-remindme {
    /*background-color: rgba(255, 220, 186, 0.4);*/
    background-image: url("./assets/bg.svg");
    height: 100vh;
}

.btn-remindme-bg {
    background-color: #f37637;
}

.btn-remindme-bg:hover {
    background-color: #EF5306;
    cursor: pointer;
}

.login-form {
    padding-top: 190px;
}










