<div class="card centered mt-6" *ngIf="!signInMode">
    <div class="flex flex-column justify-content-center card-container">
        <!-- LOGO -->
        <div class="flex align-items-center justify-content-center mb-4">
            <img src="../../assets/remindme_log.png" alt="logo">
        </div>

        <!-- TAG LINE -->
        <div class="flex align-items-center justify-content-center mb-8">
            <span class="tagline-text font-bold">Realy simple Reminder As A Service</span>
        </div>

        <!-- DESCRIPTION SUMMARY -->
        <div class="flex align-items-center justify-content-center">
            <span class="tagline-text line-height-4 text-center font-bold text-4xl">
                Get  Reminder on 
                <span class="remind-to-email mr-2">Email</span> 
                <span class="remind-to-tele mr-2">Telegram</span> 
                <span class="remind-to-wa mr-2">WhatsApp</span> or 
                <span class="remind-to-slack mr-2">Slack</span><br />
                <span class="underline">Remind anything!</span>
            </span>
        </div>

        <!-- BUTTON LOGIN SIGNUP-->
        <div class="flex flex-column align-items-center justify-content-center mb-8">
            <p-divider type="dashed" styleClass="text-orange-500"></p-divider>
            <button pButton type="button" icon="pi pi-thumbs-up" label="Sign up for free" class="btn-remindme-bg"></button>
        </div>

    </div>
</div>