<div class="container custom-bg-remindme-register">
    <div class="flex flex-wrap justify-content-evenly align-content-center login-form">
        <div class="text-center pt-6 mb-3">
            <a routerLink="/">
                <img src="../../assets/remindme_log.png" alt="Image" height="50" class="mb-3">
            </a>
            <div class="text-600 font-medium text-orange-500 line-height-3 mb-4">Already have an account?</div>
            <button 
                pButton pRipple 
                label="Sign In" 
                icon="pi pi-user" 
                class="p-button-rounded btn-remindme-bg shadow-2 font-bold"
                (click)="onSignIn()"
            ></button>
        </div>
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">

            <div>
                <div class="field">
                    <span class="p-float-label">
                        <input 
                            type="text" 
                            id="fullname" 
                            pInputText 
                            [ngClass]="{'p-filled': ( user.full_name !== '')}"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"
                            [(ngModel)]="user.full_name"> 
                        <label for="fullname" class="text-orange-300">Fullname *</label>
                    </span>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input 
                            type="text" 
                            id="username" 
                            pInputText 
                            [ngClass]="{'p-filled': ( user.username !== '')}"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"
                            [(ngModel)]="user.username"> 
                        <label for="username" class="text-orange-300">Username *</label>
                    </span>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input 
                            type="text" 
                            id="email" 
                            pInputText 
                            [ngClass]="{'p-filled': ( user.email !== '')}"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"
                            [(ngModel)]="user.email"> 
                        <label for="email" class="text-orange-300">Email *</label>
                    </span>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input 
                            type="password" 
                            id="password" 
                            pInputText 
                            [ngClass]="{'p-filled': ( user.password !== '')}"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-orange-500 w-full"
                            [(ngModel)]="user.password"> 
                        <label for="password" class="text-orange-300">Password *</label>
                    </span>
                </div>

                <button 
                    pButton 
                    pRipple 
                    label="Sign Up" 
                    icon="pi pi-sign-in" 
                    class="w-full btn-remindme-bg shadow-2 font-bold"
                    (click)="onRegister()"
                ></button>
            </div>
        </div>
    </div>
</div>
